{% extends 'base.html' %}
{% load static %}

{% block context %}

<body>
	{% include 'bar/higth_bar.html' %}

    <main role="main">
    <div class="jumbotron border-round-0 min-50vh" style="background-image:url(https://images.unsplash.com/photo-1522204657746-fccce0824cfd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84b5e9bea51f72c63862a0544f76e0a3&auto=format&fit=crop&w=1500&q=80);">
		<form class="user" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group row">
				<div class="col-sm-6 mb-3 mb-sm-0">
					<label for="exampleFirstName">Имя</label>
					<input type="text" name="first_name" class="form-control form-control-user" id="exampleFirstName"
						value="{{ user.first_name }}">
				</div>
				<div class="col-sm-6">
					<label for="exampleLastName">Фамилия</label>
					<input type="text" name="last_name" class="form-control form-control-user" id="exampleLastName"
						value="{{ user.last_name }}">
				</div>
			</div>
			<div class="form-group">
				<label for="exampleUsername">Ник</label>
				<input type="text" name="username" class="form-control form-control-user" id="exampleUsername"
					value="{{ user.username }}">
			</div>
			<div class="form-group">
				<label for="exampleUsername">instagram</label>
				<input type="text" name="instagram" class="form-control form-control-user" id="exampleUsername"
					value="{{ user.instagram }}">
			</div>
			<div class="form-group">
				<label for="exampleUsername">facebook</label>
				<input type="text" name="facebook" class="form-control form-control-user" id="exampleUsername"
					value="{{ user.facebook}}">
			</div>
			<div class="form-group">
				<label for="exampleUsername">Отчество</label>
				<input type="text" name="description" class="form-control form-control-user" id="exampleUsername"
					value="{{ user.description }}">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail">Почта</label>
				<input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
					value="{{ user.email }}">
			</div>
			<div class="form-group">
				<label for="exampleInputImage">Аватарка</label>
				<input type="file" name="avatar" class="form-control form-control-user" id="exampleInputImage"
					value="Картинка">
			</div><br>
		
			<button type="submit" class="btn btn-primary btn-user btn-block">
				Обновить профиль
			</button><br>
			<script src='https://www.google.com/recaptcha/api.js'></script>
        	<div class="form-group g-recaptcha" data-sitekey="6LdEsRcgAAAAAAqQNAJAQ0eyjoEXdu6VpLnHUQna"></div>
			{% if messages %}
            {% for message in messages %}
			<font color="red"><p>{{ message }}</p></font>
            {% endfor %}
        	{% endif %}
		</form>
    </div>

        
    </main>

    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    
    <footer class="footer pt-5 pb-5 text-center">
        
    <div class="container">
        
          <div class="socials-media">
    
            <ul class="list-unstyled">
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
            </ul>
    
          </div>
        
            <!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
          <p>©  <span class="credits font-weight-bold">        
            <a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>By tw</u> 
          </span>
          </p>
    
    
        </div>
        
    </footer>    
</body>
{% endblock %}
