{% extends 'base.html' %}
{% load static %}

{% block context %}
<body>	
	{% include 'bar/higth_bar.html' %}
	<div class="album py-1 bg-light">
		<div class="container">
		  <div class="row justify-content-center">
			  <h1 style="color: Black;">Ваша лента</h1>
		  </div>
		</div>
  	</div>
<div class="da"></div>
{% for i in page %}
	<div class="album py-5 bg-light">
		<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
			<div class="card mb-2 box-shadow">
				<div class="card card-pin">
					<img class="card-img" src="{{i.image.url}} " alt="Card image" >
					<div class="overlay">
						<h2 class="card-title title">{{i.title}}</h2>
						<div class="more">
							<a href="{% url 'news' i.id %}">
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Подробности </a>
						</div>
					</div>
				</div>
				<div class="card-body">
				<a href="{% url 'news' i.id %} " style="color: Black;"><p class="card-text">{{i.title}}</p></a>
				<p>{{i.description}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<small class="text-muted">{{i.time}}</small>
				</div>
				</div>
			</div>
			</div>
{% endfor %}
    </section>
        
    </main>
	<footer class="footer pt-5 pb-5 text-center">
        
		<div class="container">
			
			  <div class="socials-media">
		
				<ul class="list-unstyled">
				  <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
				  <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
				  <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
				  <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
				  <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
				  <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
				</ul>
		
			  </div>
			
				<!--
				  All the links in the footer should remain intact.
				  You may remove the links only if you donate:
				  https://www.wowthemes.net/freebies-license/
				-->
			  <p>©  <span class="credits font-weight-bold">        
				<a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.</a>
			  </span>
			  </p>
		
		
			</div>
			
		</footer>    

    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/theme.js' %}"></script>
	<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

      <script src="sidebars.js" crossorigin="anonymous"></script>
    
       
</body>
{% endblock %}

