{% extends 'base.html' %}
{% load static %}

{% block context %}
<body>	
	{% include 'bar/higth_bar.html' %}

	<div class="album py-1 bg-light">
		<div class="container">
		  <div class="row justify-content-center">
			  <h1 style="color: Black;">Ваша лента</h1>
		  </div>
		</div>
  	</div>
<div class="da"></div>

	<div class="album py-1 bg-light">
		<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				{% for i in page_obj %}
			<div class="card mb-2 box-shadow">
				<div class="card card-pin">
					<img class="card-img" src="{{i.image.url}} " alt="Card image" >
					<div class="overlay">
						<h2 class="card-title title">{{i.title}}</h2>
						<div class="more">
							<a href="{% url 'category:news' i.id %}">
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Подробности </a>
						</div>
					</div>
				</div>
				<div class="card-body">
				<a href="{% url 'category:news' i.id %} " style="color: Black;"><p class="card-text">{{i.title}}</p></a>
				<p>{{i.description}}</p>
				<div class="d-flex justify-content-between align-items-center">
					<small class="text-muted">{{i.time}}</small>
				</div>
				</div> 
				
			</div>
			{% endfor %} 
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a href="?page=1">&laquo; первая</a>
						<a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
					{% endif %}
			
					<span class="current">
						Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
					</span>
			
					{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">следующая</a>
						<a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
					{% endif %}
				</span>
			</div> <br> <br>
    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/theme.js' %}"></script>
	<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="sidebars.js" crossorigin="anonymous"></script>
    
       
</body>
{% endblock %}

