{% extends 'base.html' %}
{% load static %}

{% block context %}
<body>	
	{% include 'bar/higth_bar.html' %}
	<div class="album py-1 bg-light">
		<div class="container">
		  <div class="row justify-content-center">
			  <h1 style="color: Black;">Ваша лента</h1>
		  </div>
		</div>
  	</div>
<div class="da"></div>
	<div class="album py-5 bg-light">
		<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
			<div class="card mb-2 box-shadow">
				<div class="card-body">
                    {% for i in Category %}
				<a href="{{ i.get_absolute_url }}" style="color: Black;"><p class="card-text">{{i.title}}</p></a>
				<p>{{i.description}}</p>
                    {% endfor %} 
				</div>
               
				</div>
               
			</div>
			</div>

    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/theme.js' %}"></script>
	<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="sidebars.js" crossorigin="anonymous"></script>
    
       
</body>
{% endblock %}

