{% extends 'base.html' %}
{% load static %}

{% block context %}
<body>
    {% include 'bar/higth_bar.html' %}
    <main role="main">
        
    
	<section class="bg-gray200 pt-5 pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7">
					<article class="card">
					<img class="card-img-top mb-2" src="{{ new.image.url }}" alt="Card image">
					<div class="card-body">
						<h1 class="card-title display-4">
						{{new.title}} </h1>
						<p>{{new.text}}</p>
					</div>
					</article>
				</div>
			</div>
		</div>
    		
			<!-- <form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.text }}
				<input type="submit" value="Submit">
			</form> -->

		
    </div>
	<br>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
	<div class="be-comment-block">
		<h1 class="comments-title">Comments ({{comment.count}})</h1>
		{% for i in comment %}
		<div class="be-comment">
			<div class="be-img-comment">	
				<a href="blog-detail-2.html">
					{% if user.avatar %}
					<img src="{{user.avatar.url}}" alt="" class="be-ava-comment">
					{% else %}
					<img src="../media/default.png" alt="" class="be-ava-comment">
					{% endif %}
				</a>
			</div>
			<div class="be-comment-content">
					<span class="be-comment-name">
						<a href="blog-detail-2.html">{{i.username}}</a>
						</span>
					<span class="be-comment-time">
						<i class="fa fa-clock-o"></i>
						{{i.time}}
					</span>
	
				<p class="be-comment-text">
					{{i.text}}
				</p>
			</div>
		{% endfor %}
		</div>
		<form class="form-block" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="rows">
				<div class="col-xs-12">									
					<div class="form-group" name="text">
						{{form.text}}
					</div>
				</div>
				<input type="submit" value="Подтверидть" class="btn btn-primary pull-right">
			
			</div>
		</form>
	</div>
        
    </main>

    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
  
</body>
{% endblock %}