{% extends 'base.html' %}
{% load static %}

{% block context %}
<body>
    {% include 'bar/higth_bar.html' %}
    <main role="main">
        
    
	<section class="bg-gray200 pt-5 pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7">
					<article class="card">
					<img class="card-img-top mb-2" src="{{ new.image.url }}" alt="Card image">
					<div class="card-body">
						<h1 class="card-title display-4">
						{{new.title}} </h1>
						<p>{{new.text}}</p>
					</div>
					</article>
				</div>
			</div>
		</div>
    		
			<!-- <form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.text }}
				<input type="submit" value="Submit">
			</form> -->

		
    </div>

	<div class="comments">
		<h3 class="title-comments">Комментарии {{ comment.count }}</h3>
		<ul class="media-list">
		  <!-- Комментарий (уровень 1) -->
		  {% for i in comment %}
		  <li class="media">
			<div class="media-left">
			  <a href="#">
				<a class="nav-link" href="{% url 'profile' %}"><img class="rounded-circle mr-2" src="{{user.avatar.url}}" width="50">
			  </a>
			</div>
			<div class="media-body">
			  <div class="media-heading">
				<div class="author">{{i.user}}</div>
				  <div class="metadata">
					<span class="date">{{i.time}}</span>
				  </div>
				</div>
				<div class="media-text text-justify"> {{i.text}}</div>
				<div class="footer-comment">
				  <span class="vote plus" title="Нравится">
					<i class="fa fa-thumbs-up"></i>
				  </span>
				  <span class="rating">+1</span>
				  <span class="vote minus" title="Не нравится">
					<i class="fa fa-thumbs-down"></i>
				  </span>
				  <span class="devide">|</span>
				  <span class="comment-reply">
					<a href="#" class="reply">ответить</a>
				  </span>
				</div>
				{% endfor %}
				

    </section>
        
    </main>

    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    
    <footer class="footer pt-5 pb-5 text-center">
        
    <div class="container">
        
          <div class="socials-media">
    
            <ul class="list-unstyled">
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
            </ul>
    
			<div class="container">
        
				<div class="socials-media">
		  
				  <ul class="list-unstyled">
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
					<li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
				  </ul>
		  
				</div>
			  
				  <!--
					All the links in the footer should remain intact.
					You may remove the links only if you donate:
					https://www.wowthemes.net/freebies-license/
				  -->
				<p>©  <span class="credits font-weight-bold">        
				  <a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.</a>
				</span>
				</p>
		  
		  
			  </div>
        
    </footer>    
</body>
{% endblock %}