{% extends 'base.html' %}
{% load static %}

{% block context %}
<body>
    {% include 'bar/higth_bar.html' %}
    <main role="main">
		<section class="bg-gray200 pt-5 pb-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<article class="card">
						<div class="card-body">
							<h1 class="card-title display-4">
								<section id="contact" class="gray-bg padding-top-bottom">
									<div class="container bootstrap snippets bootdey">
										<div class="row justify-content-center">
											<form id="Highlighted-form" class="col-sm-6 col-sm-offset-3" method="post" novalidate="" enctype="multipart/form-data">
												{% csrf_token %}
												<div class="form-group">
												  <label class="control-label" for="contact-name">Name</label>
												  <div class="controls">
													<input id="contact-name" name="title" placeholder="Название поста" class="form-control requiredField Highlighted-label" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
													<i class="fa fa-user"></i>
												  </div>
												</div><!-- End name input -->
												<div class="form-group">
												  <label class="control-label" for="contact-name">Name</label>
												  <div class="controls">
													<input id="contact-name" name="description" placeholder="Описание" class="form-control requiredField Highlighted-label" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
													<i class="fa fa-user"></i>
												  </div>
												</div><!-- End name input -->
												<div class="form-group">
												  <label class="control-label" for="contact-message">Message</label>
													<div class="controls">
														<textarea id="contact-message" name="text" placeholder="Текст" class="form-control requiredField Highlighted-label" data-new-placeholder="Your message" rows="6" data-error-empty="Please enter your message"></textarea>
														<i class="fa fa-comment"></i>
													</div>
												</div><!-- End textarea -->
												{{form.category}}
												{{form.image}}

												<script src='https://www.google.com/recaptcha/api.js'></script>
												<div class="form-group g-recaptcha" data-sitekey="6LdEsRcgAAAAAAqQNAJAQ0eyjoEXdu6VpLnHUQna"></div>
												{% if messages %}
												{% for message in messages %}
												<font color="red"><p>{{ message }}</p></font>
												{% endfor %}
												{% endif %}
												<input type="submit" class="btn btn-danger" value="Опубликовать"><br><br>
											

												
											</form><!-- End Highlighted-form -->


								<!-- <form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<input type="contact-name" value="{{form.title}}">
									<script src='https://www.google.com/recaptcha/api.js'></script>
									<div class="form-group g-recaptcha" data-sitekey="6LdEsRcgAAAAAAqQNAJAQ0eyjoEXdu6VpLnHUQna"></div>
									{% if messages %}
									{% for message in messages %}
									<font color="red"><p>{{ message }}</p></font>
									{% endfor %}
									{% endif %}
									<input type="submit" class="btn btn-danger" value="Опубликовать"><br><br>
								</form> -->
						</div>
						</article>
					</div>
				</div>
			</div>
			<div class="container-fluid mt-5">
				<div class="row">
					<h5 class="font-weight-bold">More like this</h5>
			
					<div class="card-columns">
						{% for i in news %}
						<div class="card card-pin">
							<img class="card-img" src="{{i.image.url}}" alt="Card image">
							<div class="overlay">
								<h2 class="card-title title">Some Title</h2>
								<div class="more">
									<a href="">
									<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
								</div>
							</div>
						</div>
						{% endfor %}
						
    		</div>
	
    	</div>
    </div>  	
</body>
<script src="{% static 'js/ch.js' %}"></script>
{% endblock %}

