{% extends 'base.html' %}
{% load static %}

{% block context %}
<body>
    {% include 'bar/higth_bar.html' %}
    <main role="main">
		<section class="bg-gray200 pt-5 pb-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<article class="card">
						<div class="card-body">
							<h1 class="card-title display-4">
								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									{{form.as_p }}
									<script src='https://www.google.com/recaptcha/api.js'></script>
									<div class="form-group g-recaptcha" data-sitekey="6LdEsRcgAAAAAAqQNAJAQ0eyjoEXdu6VpLnHUQna"></div>
									{% if messages %}
									{% for message in messages %}
									<font color="red"><p>{{ message }}</p></font>
									{% endfor %}
									{% endif %}
									<input type="submit" class="btn btn-danger" value="Опубликовать"><br><br>
								</form>
						</div>
						</article>
					</div>
				</div>
			</div>
			<div class="container-fluid mt-5">
				<div class="row">
					<h5 class="font-weight-bold">More like this</h5>
			
					<div class="card-columns">
						{% for i in news %}
						<div class="card card-pin">
							<img class="card-img" src="{{i.image.url}}" alt="Card image">
							<div class="overlay">
								<h2 class="card-title title">Some Title</h2>
								<div class="more">
									<a href="">
									<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
								</div>
							</div>
						</div>
						{% endfor %}
						
    		</div>
	
    	</div>
    </div>
    </section>
        
    </main>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    
    <footer class="footer pt-5 pb-5 text-center">
        
    <div class="container">
        
          <div class="socials-media">
    
            <ul class="list-unstyled">
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
            </ul>
    
          </div>
        
            <!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
          <p>©  <span class="credits font-weight-bold">        
            <a target="_blank" class="text-dark" href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/"><u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.</a>
          </span>
          </p>
    
    
        </div>
        
    </footer>    	
</body>
{% endblock %}

